<% provide(:title, 'Contact') %>
<h1>Contact Us!</h1>
<p>
  	Your satisfaction is our top priority.<br />
	Our members are always here to immediately respond to your emails, 
	however, we ask that you allow a response time of 24 hours from the time 
	we receive your email.<br />
 	Thank you!<br />
 	<address>
	 	<br>Our E-mail Addresses:<br />
	 	<br>Bethany McNabb: <a href="mailto:bethanymcnabb@gmail.com">bethanymcnabb@gmail.com</a> <br />
	 	<br>Craig Foster: <a href="mailto:foster.craigl@gmail.com">foster.craigl@gmail.com</a> <br />
	 	<br>Sean Nored: <a href="mailto:vortrex99@gmail.com">vortrex99@gmail.com</a> <br />
	 	<br>Danny Heo: <a href="mailto:geniushsy@gmail.com">geniushsy@gmail.com</a> <br />
 	</address>
</p>