<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  	If your specific problem is not addressed by our online answers, 
	you will also be able to contact our support members through 
	the Contack Us link.
	<br><br />
	Accounts are for individual use so we do not allow joint accounts. 
	Additionally, you can only sign up for one account per email address. 
	Since each account belongs to one person, 
	we require everyone to use their real name on their account. 
	<br><br />
	<b>Account Settings:</b><br />
	<i>How to sign up?</i><br />
	You can sign up for one in a few steps. It's really easy!
	Enter your name, email address, password (choose a good password, it must be 
	greater than 6 characters), then enter your password again for confirmation. 
	Finally, click 'Create my account', and <i>voilà</i>!
	<br><br />
	<i>What is the difference between signing up and signing in?</i><br />
	Sign up: If you do not have a account, you can sign up for one in a few steps.<br />
	Sign in: If you already have a account, you can sign in to your account using your e-mail 
			and password. Remember though, the browser will remember you! So make sure to sign out.
</p>