<footer class="footer">
  <small>
    Web Design by Sean Nored, Application by Bethany McNabb, Craig Foster, and Danny Heo
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>